In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('../input/cleaned_data.csv')

In [3]:
data.head()

,CaseID,ActivityID,CompleteTimestamp,Duration,CumDuration,TimeSinceMidnight,WeekDay
0,2.0,1.0,2012-04-03 16:55:38,0.0,0.0,60938.0,1.0
1,2.0,8.0,2012-04-03 16:55:53,15.0,15.0,60953.0,1.0
2,2.0,6.0,2012-04-05 17:15:52,173999.0,174014.0,62152.0,3.0
3,3.0,1.0,2010-10-29 18:14:06,0.0,0.0,65646.0,4.0
4,3.0,8.0,2010-11-04 01:16:11,457325.0,457325.0,4571.0,3.0

In [4]:
data.shape

(13710, 7)

# Input

In [5]:
def getList(df):
    temp = []
    lst = df.tolist()
    for i in range(1, len(df)+1):
        sub_lst = lst[:i]
        temp.append(sub_lst)
    return temp

In [6]:
groupByCase = data.groupby(['CaseID'])

In [7]:
sentences = []
sentences_t = []
sentences_t2 =[]
sentences_t3 = []
sentences_t4 = []
for case, group in groupByCase:
    case_sentences = getList(group['ActivityID'])
    sentences += case_sentences
    
    case_sentences_t = getList(group['Duration'])
    sentences_t += case_sentences_t
    
    case_sentences_t2 = getList(group['CumDuration'])
    sentences_t2 += case_sentences_t2
    
    case_sentences_t3 = getList(group['TimeSinceMidnight'])
    sentences_t3 += case_sentences_t3
    
    case_sentences_t4 = getList(group['WeekDay'])
    sentences_t4 += case_sentences_t4

In [8]:
len(sentences)

13710

# Output

In [16]:
def getNextChar(df):
    temp = []
    lst = df.tolist()
    for i in range(1, len(df)):
        ele = lst[i]
        temp.append(ele)
    temp.append('EOS')
    return temp

In [17]:
def getNextChar1(df):
    temp = []
    lst = df.tolist()
    for i in range(1, len(df)):
        ele = lst[i]
        temp.append(ele)
    return temp

In [18]:
next_chars = []
next_chars_t = []
next_chars_t2 = []
next_chars_t3 = []
next_chars_t4 = []
for case, group in groupByCase:
    case_next_char = getNextChar(group['ActivityID'])
    next_chars += case_next_char
    
    case_next_char_t = getNextChar1(group['Duration'])
    next_chars_t += case_next_char_t
    
    case_next_char_t2 = getNextChar1(group['CumDuration'])
    next_chars_t2 += case_next_char_t2
    
    case_next_char_t3 = getNextChar1(group['TimeSinceMidnight'])
    next_chars_t3 += case_next_char_t3
    
    case_next_char_t4 = getNextChar(group['WeekDay'])
    next_chars_t4 += case_next_char_t4

# Test

In [19]:
df = data[:10]

In [20]:
df

,CaseID,ActivityID,CompleteTimestamp,Duration,CumDuration,TimeSinceMidnight,WeekDay
0,2.0,1.0,2012-04-03 16:55:38,0.0,0.0,60938.0,1.0
1,2.0,8.0,2012-04-03 16:55:53,15.0,15.0,60953.0,1.0
2,2.0,6.0,2012-04-05 17:15:52,173999.0,174014.0,62152.0,3.0
3,3.0,1.0,2010-10-29 18:14:06,0.0,0.0,65646.0,4.0
4,3.0,8.0,2010-11-04 01:16:11,457325.0,457325.0,4571.0,3.0
5,3.0,6.0,2010-11-04 01:21:17,306.0,457631.0,4877.0,3.0
6,4.0,1.0,2010-12-15 23:31:53,0.0,0.0,84713.0,2.0
7,4.0,8.0,2010-12-16 17:01:07,62954.0,62954.0,61267.0,3.0
8,4.0,6.0,2010-12-16 17:08:19,432.0,63386.0,61699.0,3.0
9,5.0,1.0,2012-04-03 21:08:32,0.0,0.0,76112.0,1.0

In [21]:
case_next_char = getNextChar(df['ActivityID'])

In [22]:
case_next_char

[8.0, 6.0, 1.0, 8.0, 6.0, 1.0, 8.0, 6.0, 1.0, 'EOS']

In [23]:
case_next_char = getNextChar1(df['Duration'])

In [24]:
case_next_char

[15.0, 173999.0, 0.0, 457325.0, 306.0, 0.0, 62954.0, 432.0, 0.0]